{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block
headline %} {{ title }} {% endblock %} {% block content %}
<p>{{ message }}</p>
<div class="row">
  <p class="p-1 bg-light col-lg-10 col-md-8 col-sm-12">Aコンテンツ</p>
  <p class="p-1 bg-light col-lg-2 col-md-4 col-sm-12">Bコンテンツ</p>
</div>
<div class="row">
  <p class="p-1 bg-light col-lg-8 col-md-6 col-sm-12">Aコンテンツ</p>
  <p class="p-1 bg-light col-lg-2 col-md-3 col-sm-6">Bコンテンツ</p>
  <p class="p-1 bg-light col-lg-2 col-md-3 col-sm-6">Cコンテンツ</p>
</div>
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Enter name" />
</div>
<div class="form-group">
  <label for="pass">Password</label>
  <input
    type="password"
    class="form-control"
    id="pass"
    placeholder="Enter password"
  />
</div>
<div class="form-row">
  <div class="form-group col">
    <label for="mail">Mail</label>
    <input
      type="email"
      class="form-control"
      id="mail"
      placeholder="Enter mail address"
    />
  </div>
  <div class="form-group col">
    <label for="tel">Tel</label>
    <input
      type="text"
      class="form-control"
      id="tel"
      placeholder="Enter phone number"
    />
  </div>
</div>
<div class="form-group">
  <input type="submit" class="form-control btn btn-primary" />
</div>
<hr />
<div class="m-1" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" checked /> Checkbox
  </label>
</div>
<div class="m-1 btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="r1" checked />Radio 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="r2" />Radio 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="r3" />Radio 3
  </label>
</div>
<hr />
<div class="form-group">
  <label for="sel1">Select 1</label>
  <select class="form-control" id="sel1">
    <option>Windows</option>
    <option>macOS</option>
    <option>Linux</option>
    <option>ChromeOS</option>
  </select>
</div>
<div class="form-group">
  <label for="sel2">Select 2</label>
  <select class="form-control" id="sel1" size="5">
    <option>Windows</option>
    <option>macOS</option>
    <option>Linux</option>
    <option>ChromeOS</option>
  </select>
</div>
<hr />
{% if flg == None %}
<div class="alert alert-light" role="alert">
  {% elif flg %}
  <div class="alert alert-primary" role="alert">
    {% else %}
    <div class="alert alert-danger" role="alert">
      {% endif %} {{ alert }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form method="post" action="/">
      <div class="form-group">
        <label for="sel1">select your platform:</label>
        <select class="form-control" id="sel1" name="platform">
          <option>Windows</option>
          <option>macOS</option>
          <option>Linux</option>
          <option>ChromeOS</option>
        </select>
      </div>
      <div class="form-group">
        <input type="submit" />
      </div>
    </form>

    <!--
<button class="m-1 btn">Button default</button>
<button class="m-1 btn btn-secondary">Button secondary</button>
<button class="m-1 btn btn-success">Button success</button>
<button class="m-1 btn btn-danger">Button danger</button>
<button class="m-1 btn btn-warning">Button warning</button>
<button class="m-1 btn btn-info">Button info</button>
<button class="m-1 btn btn-light">Button light</button>
<button class="m-1 btn btn-dark">Button dark</button>
<button class="m-1 btn btn-link">Button link</button>
-->
    {% endblock %} {% block footer %} copyright 2020 Sylphy {% endblock %}
  </div>
</div>
